#Загальні тимчасові файли
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

#Виконувані файли та об’єкти
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.obj
*.o
*.pdb
*.idb
*.ilk
*.out

#Кеші компілятора
*.pch

#CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile
CMakeScripts/
Testing/
CTestTestfile.cmake
_install/
install_manifest.txt

#CLion
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-*/

#Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/

#VS Solution/User files
*.suo
*.user
*.userosscache
*.sln.docstates

# ====== Інші IDE ======
.vscode/

# ====== Системне ======
*.iml
*.class
.vs/BDSMaksym-OOP2025/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/BDSMaksym-OOP2025/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/BDSMaksym-OOP2025/v17/Browse.VC.db
